<ion-split-pane when="md" contentId="main">
  <!--  our side menu  -->
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title class="font-set">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-menu-toggle auto-hide="false" *ngFor="let p of page">
      <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url" class="font-set">
        {{p.title}}
      </ion-item>
  </ion-menu-toggle>

     <ion-content>
      <ion-list>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>

