<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item class="center">
    <ion-label position="stacked" class="font-set ">First Name</ion-label>
    <ion-input [(ngModel)]="fname" class="font-set"></ion-input>
  </ion-item>
  <ion-item class="center">
    <ion-label position="stacked" class="font-set ">Last Name</ion-label>
    <ion-input [(ngModel)]="lname" class="font-set"></ion-input>
  </ion-item>
  <ion-item class="center">
    <ion-label position="stacked" class="font-set ">Email</ion-label>
    <ion-input [(ngModel)]="email" class="font-set"></ion-input>
  </ion-item>
  <ion-item class="center">
    <ion-label position="stacked" class="font-set ">Username</ion-label>
    <ion-input [(ngModel)]="username" class="font-set"></ion-input>
  </ion-item>
  <ion-item class="center">
    <ion-label position="stacked" class="font-set ">Re-Password</ion-label>
    <ion-input [(ngModel)]="repass" type="password" class="font-set"></ion-input>
  </ion-item>
  <ion-item class="center">
    <ion-label position="stacked" class="font-set">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" class="font-set"></ion-input>
  </ion-item> <br>
  <ion-button color="primary" shape="round" expand="full" class="font-set center-sh" (click)="signup()">Sign Up</ion-button>

</ion-content>
