<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-row>
    <ion-col text-center class="font-set text-mt">
      <p class="ft-bg">Wellcome</p>
    </ion-col>
  </ion-row>

  <ion-item class="center">
    <ion-label position="stacked" class="font-set ">Username</ion-label>
    <ion-input [(ngModel)]="username" class="font-set"></ion-input>
  </ion-item>
  <ion-item class="center">
    <ion-label position="stacked" class="font-set">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" class="font-set"></ion-input>
  </ion-item> <br>
  <ion-button color="primary" shape="round" expand="full" class="font-set center-sh" (click)="signin()">Sign In</ion-button>

  <ion-row>
    <ion-col text-center class="font-set text-mt">
      <a (click)="nextpage()">Sign Up</a>
    </ion-col>
  </ion-row>

</ion-content>
