<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="font-set">History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data">      
      <ion-text>
        <ion-label  class="font-set">Height : {{item.height}}</ion-label>
        <ion-label  class="font-set">Weight : {{item.weight}}</ion-label>
        <ion-label  class="font-set">BMI : {{item.bmi | number:'1.2-2'}}</ion-label>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>