<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="font-set">Graph</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="false" class="scroll-content">
 
  <ion-list>
 
      <div>
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors"
          [legend]="showLegend" [chartType]="chartType">
        </canvas>
      </div>
  
      <div>
        <canvas baseChart [datasets]="chartDataH" [labels]="chartLabels" [options]="chartOptionsH"
          [colors]="chartColors" [legend]="showLegend" [chartType]="chartType">
        </canvas>
      </div>
   
   
      <div>
        <canvas baseChart [datasets]="chartDataW" [labels]="chartLabels" [options]="chartOptionsW"
          [colors]="chartColors" [legend]="showLegend" [chartType]="chartType">
        </canvas>
      </div>
  
  </ion-list>






</ion-content>