<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title  class="font-set">
      BMI Calculators
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="center-text">
    <ion-label position="stacked" class="font-set ">Weight (kg.)</ion-label>
    <ion-input [(ngModel)]="weight" class="font-set" readonly></ion-input>
  </ion-item>
  <ion-item class="center-text">
    <ion-label position="stacked" class="font-set">Height (cm.)</ion-label>
    <ion-input [(ngModel)]="height" class="font-set" readonly></ion-input>
  </ion-item> <br>

  <ion-button color="primary" shape="round" expand="full" class="font-set center" (click)="calculate()">คำนวณ</ion-button>

  <ion-text class="font-set">
    <p class=" bmi-margin">BMI</p>
    <p class=" bmi-val">{{bmi | number:'1.2-2' }}</p>
  </ion-text>

  <ion-text class="font-set">    
    <p class="bmi-status">{{status}}</p>
  </ion-text>
  <br>

  <ion-button [hidden]="btnSave" color="success" shape="round" expand="full" class="font-set center" (click)="saveHistory()">บันทึก</ion-button>

</ion-content>
