

.center-text{
    margin-left: 20px;
    margin-right: 20px;
}


.bmi-margin {
    text-align: center;
    padding-top: 20px;
}

.bmi-val{
    line-height: 0px;
    text-align: center;
    font-size: 20pt;
}

.bmi-status {

    text-align: center;
    font-size: 18pt;
}